@{
    ViewBag.Title = "Home Page";
}

<div>
	<h1>Welcome to Mooshak 2.0</h1>
</div>

<div class="row homepage">
    <img src="~/Content/Pictures/mooshaklogo.png" alt="MOOSHAK LOGO" width="800" height="300" />
</div>

